@import './vendors/font-awesome.scss';
@import './vendors/icofont.scss';
@import "./vendors/themify/_themify-icons.scss";
@import "./vendors/feather-icon/feather-icon";
@import "./vendors/whether-icon.scss";
@import './vendors/scrollbar.scss';
@import './vendors/animate.scss';
@import 'bootstrap/scss/bootstrap.scss';
@import "./style.scss";
@import "./responsive.scss";